In [1]:
import okama as ok

In [4]:
ok.search("lukoil")

,symbol,ticker,name,country,exchange,currency,type,isin
0,LKOD.LSE,LKOD,PJSC LUKOIL,UK,LSE,GBP,Common Stock,
1,LKOH.LSE,LKOH,PJSC LUKOIL,UK,LSE,USD,Common Stock,RU0009024277
2,LKOH.MOEX,LKOH,PJSC LUKOIL,Russia,MOEX,RUB,Common Stock,RU0009024277
3,LKOH.MCX,LKOH,PJSC LUKOIL,Russia,MCX,RUB,Common Stock,RU0009024277
4,LUK.XFRA,LUK,PJSC LUKOIL,Germany,XFRA,EUR,Common Stock,
5,LUKOY.US,LUKOY,PJSC LUKOIL,USA,PINK,USD,Common Stock,US6778621044

In [18]:
stocks = ["BABA.US", "AYX.US", "FOLD.US", "BMY.US", "MCD.US", "SRPT.US", "LRN.US", "TAL.US", "VTBR.MOEX", "GAZP.MOEX", "SBER.MOEX"]